@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800');

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body{
  padding: 15px;
  background-color: #05F26C;
  font-family: 'Raleway', sans-serif;
  @media(min-width: 768px){
    padding: 25px 50px;
  }
}

.grid{
  display: flex;
  flex-direction: column;
  @media(min-width: 768px){
    flex-direction: row;
  }
}

.unit{
  display: inline-block;
}

.unit50{
  max-width: auto;
  @media(min-width: 768px){
    width: 100%;
    max-width: 50%;
  }
}

.list{
  list-style: none;
  margin: 0; padding: 0;
}

.list li{
  display: flex;
  height: 80px;
  color: #fff;
  &.large{
    font-size: 22px;
    @media(min-width: 568px){
      font-size: 32px;
    }
  }
}

.number{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  font-size: 18px;
  @media(min-width: 568px){
    font-size: 28px;
  }
}

.img{
  display: inline-block;
  width: 50px; height: 50px;
  min-width: 50px; min-height: 50px;
  margin: 0 20px 0 0;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &.large{
    width: 120px; height: 120px;
  }
  &:before{
    content: '';
    width: 100%; height: 100%;
    background-color: #333;
    position: absolute;
    top: 50%; left: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
  }
  &:after{
    content: 'No Image';
    color: #fff;
    font-size: 10px;
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
  }
}

$red: darken(#c41555,5%);
$redDark: darken(#c41555,7%);
$purple: #340040;
$purpleDark: darken(#340040,2%);

@for $i from 1 to 22 {
  .unit50:nth-child(1) ul li:nth-child(#{$i}) .number{ background-color: lighten($purpleDark, $i * 1.5%) }
  .unit50:nth-child(1) ul li:nth-child(#{$i}) .item{ background-color: lighten($purple, $i * 1.5%) }

  .unit50:nth-child(2) ul li:nth-child(#{$i}) .number{ background-color: lighten($redDark, $i * 1.5%) }
  .unit50:nth-child(2) ul li:nth-child(#{$i}) .item{ background-color: lighten($red, $i * 1.5%) }
}

.item{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  padding: 0 20px;
  p{
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    @media(min-width: 568px){
      font-size: 18px;
    }
    i{ font-weight: 300; }
  }
}

.btn{
  padding: 10px 40px;
  border-radius: 25px;
  background-color: $purple;
  color: #fff;
  text-decoration: none;
}

.middle{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 25px 0;
  .img{ margin: 0 0 10px 0; }
  p{
    color: #333;
    font-size: 22px;
  }
}
